#container{
    padding: 1%;
}
p{
    font-size: small;
    text-align: center;
}
h4{
    text-align: center;
}
.svg{
    width: 10%;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}