
#inbox-list img{

display: block;
position: relative;
left: -15;
top: -17;
float: initial;
width: 15%;
height: 15%;
margin-top: -21%;
margin-left: 5px;


}

.text-men{

    
    padding-right: 10px;
    text-align: center;
}