<app-header></app-header>

<ion-content>
  <br>
  <br>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="2">
          <ion-card> <!--Se hace el routerLink hacia donde se quiere ir-->
             
              <img src="../../../assets/profe.jpeg">
                    
            <ion-card-content >
              <div class="info">
                <h3>Msc. Nombre profesor</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Est impedit ducimus consequatur reprehenderit.</p>
          
              </div>
             
      
          
              
            </ion-card-content >
          </ion-card >

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>