<app-header></app-header>
<ion-content class="ion-padding">
  <div class="info">
  <p>La PWA "Portal de horarios del Departamento de Computación" contiene información de los horarios de las distintas carreras del departamento, 
    permite al administrador la actualización y manipulación de la información y a los usuarios 
    la visualización de la información y la notificación de los cambios que se realicen en los horarios 
    de su carrera. </p>
  </div>
     <div class="ion-padding ion-text-center">
       <ion-button (click)="openModalNew()"size="small" color="primary">Sugerencias</ion-button>
     </div>

</ion-content>