<app-header></app-header>
<ion-content [fullscreen]="true">
 

  <div id="container">
    <img src="assets/icon/imagen_2021-06-30_145048.png" alt="Departamento de computacion" height="30%" width="100%">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <div class="card-info">
            <img class="svg" src="assets/icon/base-de-datos.svg" alt="Departamento de computacion" height="5%" width="5%" >
            <h4>Ingeniería en Ciencias de la Computación</h4>
            <p>Interviene desde las diferentes áreas de la Ingeniería,  
              en la formulación y solución de problemas relacionados con 
              la Ingeniería de Software, Hardware y las Comunicaciones en 
              los diferentes contextos.</p>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <div class="card-info">
            <img class="svg" src="assets/icon/informatica.svg" alt="Departamento de computacion" height="5%" width="5%">
            <h4>Ingeniería en Sistemas de la Información</h4>
            <p>Proporciona una información completa y polivalente en el ámbito empresarial, 
              formando profesionales capaces de dirigir, gestionar y administrar una  
              organización, y capaces de iniciar su propio negocio.</p>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <div class="card-info">

            <img class="svg" src="assets/icon/alojamiento-web.svg" alt="Departamento de computacion" height="5%" width="5%" >
            <h4>Ingeniería en Telemática</h4>
            <p>La ingeniería de telemática cumple con la labor contar  con habilidades para diseñar y 
              desarrollar software de comunicaciones y sistemas distribuidos, operar y realizar el mantenimiento 
              de la infraestructura tecnológica, innovar y adaptar las Tecnologías de Información y Comunicación (TIC) 
              a los procesos productivos de las empresas.
            </p>
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>

    


     
  </div>
</ion-content>
