<ion-app>
  <header>
    <ion-toolbar color="header">
      <ion-title class="ion-text-center">¡Envía tu sugerencia!</ion-title>
      <ion-buttons slot="end">
        <ion-button class="btn-cerrar" (click)="dismiss()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </header>
  <ion-content class="ion-padding">

    <form>
      <ion-item>
        <ion-input type="text" placeholder="correo electrónico" name="nombre"
                    maxlength="15" required pattern="[a-z A-Z]+">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="asunto" name="nombre"
                    maxlength="15" required pattern="[a-z A-Z]+">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="mensaje" name="nombre"
                    maxlength="15" required pattern="[a-z A-Z]+">
        </ion-textarea>
      </ion-item>
     
        <div class="button-modal">
          <ion-button  style="float: center;" disabled="true" expand="block" type="submit">
            <ion-label>Enviar</ion-label> 
          </ion-button>
        </div>        
      
    </form>

  </ion-content>
</ion-app>